canvas {
	float: left;
}

#debug {
	float: left;
	padding: 0 10px;
}

table {
	border: 1px solid #888;
	border-spacing:0;
	border-collapse:collapse;
}

td {
	padding: 0 10px;
	text-align: center;
}

.true {
	background-color: #ddd;
}
